
<h1 trns>{{schname}} School Pay Site</h1>
<div ng-if="!hasLoaded"><img src="/Content/images/spiffygif_30x30.gif" style="text-align: center" ng-hide="hasLoaded" /></div>

    <form role="form" class="form-horizontal" name="payForm" novalidate>
        <input ng-model="form" ng-init="form=payForm" hidden> 
      

            <!--<div class="form-group col-md-12">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="payType"
                               ng-model="paymentInfo.payType"
                               value="CC" required />
                        <trns>Pay With Credit Card</trns>
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="payType" ng-model="paymentInfo.payType"
                               value="EC" required />
                        <trns>Pay With E-Check</trns>
                    </label>
                </div>
                <div class="alert alert-danger" role="alert"
                     ng-if="payForm.payType.$error.required && payForm.payType.$dirty">
                   Select a payment type.
                </div>

            </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label" trns>Amount To Be Charged</label>
            <div class="col-sm-4">
                <input type="text" class="form-control"
                       ng-model="paymentInfo.amountCharged"
                       name="amount"
                       ng-model-options="{ debounce: 500}"
                      valid-Number
                       required />
                <!--<div class="alert alert-danger" role="alert"
                     ng-if="payForm.amount.$error.validNumber && payForm.amount.$dirty">
                    <trns>Enter a numeric amount with no $ signs.</trns>
                </div>-->
                <div class="alert alert-danger" role="alert"
                     ng-if="(payForm.amount.$error.required ||payForm.amount.$error.validNumber) && payForm.amount.$dirty">
                    <trns>Amount is required.</trns>
                </div>
            </div>
        </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" trns>Email Address </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"
                           ng-model="paymentInfo.emailAddress"
                           onInput="checkLength('emailAddress', 60)"
                           id="emailAddress"
                           name="emailAddress"
                           ng-model-options="{ debounce: 500}"
                           required />

                    <div class="alert alert-danger" role="alert"
                         ng-if="payForm.emailAddress.$error.required && payForm.emailAddress.$dirty">
                        <trns>Email Address</trns>
                    </div>
                </div>  
                </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" trns>Invoice Number </label>
            <div class="col-sm-4">
                <input type="text" class="form-control"
                       ng-model="paymentInfo.invoiceNumber"
                       onInput="checkLength('invoiceNumber',6)"
                       name="invoiceNumber"
	                   maxsixnumbers
                       id="invoiceNumber"
					   ng-model-options="{ debounce: 500}"
                        />
				<div class="alert alert-danger" role="alert"
					 ng-if="payForm.invoiceNumber.$error.invalid && payForm.invoiceNumber.$dirty">
					<trns>Only 6 digits are allowed.</trns>
				</div>
               </div>
        </div>

            <!--CC info-->
            <div style="margin-bottom:20px" ng-if="paymentInfo.payType=='CC'">
                <div class="form-group">
                    <div  class="col-sm-6">
                <label style="font-size:larger;text-decoration:underline"><trns>Credit Card Information</trns></label>
                <div >
                    <img src="/Content/images/visa1_37x23_a.jpg" />
                    <img src="/Content/images/mc_accpt_023_gif.gif" />
                    <img src="/Content/images/Discover.jpg" />
                    <img src="/Content/images/pay_logo_amex.gif" />
                </div>
                    </div>
                </div>
            <br />
                <div class="form-group">
                    <label class="col-sm-3 control-label" trns>Payer First Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                               ng-model="paymentInfo.firstName"
                                onInput="checkLength('firstName',30)"
                               name="firstName"
                               id="firstName"
                               ng-model-options="{ debounce: 500}"
                               required />

                        <div class="alert alert-danger" role="alert"
                             ng-if="payForm.firstName.$error.required && payForm.firstName.$dirty">
                          First Name is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" trns>Payer Last Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                               ng-model="paymentInfo.lastName"
                               onInput="checkLength('lastName',30)"
                               name="lastName"
                               id="lastName"
                               ng-model-options="{ debounce: 500}"
                               required />

                        <div class="alert alert-danger" role="alert"
                             ng-if="payForm.lastName.$error.required && payForm.lastName.$dirty">
                            Last Name is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" trns>Credit Card Number</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                               ng-model="paymentInfo.ccNumber"
                                onInput="checkLength('ccNumber',20)"
                               id="ccNumber"
                               name="ccNumber"
                               ng-model-options="{ debounce: 500}"
                               required />

                        <div class="alert alert-danger" role="alert"
                             ng-if="payForm.ccNumber.$error.required && payForm.ccNumber.$dirty">
                            Credit Card number is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" trns>Security Code</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                               ng-model="paymentInfo.ccCode"
                               name="ccCode"
                                onInput="checkLength('ccCode',3)"
                               id="ccCode"
                               ng-model-options="{ debounce: 500}"
                               required />

                        <div class="alert alert-danger" role="alert"
                             ng-if="payForm.ccCode.$error.required && payForm.ccCode.$dirty">
                           Security code is required.
                        </div>
                    </div>
                </div>
               <div class="form-inline">
                    <label class="col-sm-3 control-label" trns>
                        Enter Expiration Date
                    </label>
                    <br />
                    <div class="radio-inline" >
                        <label >
                            <trns>Month</trns>
                        </label>
                        <select class="form-control"
                                ng-model="paymentInfo.vmonth"
                                ng-options="month.name for month in globalConstants.monthOptions"
                                name="month" ng-model-options="{ debounce: 500 }"
                                required>
                              <option value=''>- Select Month -</option>
                        </select>
                        <div class="alert alert-danger" role="alert"
                             ng-if="payForm.month.$error.required && payForm.month.$dirty">
                            Month is required.
                        </div>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <trns>Year</trns>
                        </label>
                        <select class="form-control"
                                ng-model="paymentInfo.vyear"
                                ng-options="year.name for year in globalConstants.ccYears"
                                name="year" ng-model-options="{ debounce: 500 }"
                                required>
                            <option value=''>- Select Year -</option>
                        </select>
                        <div class="alert alert-danger" role="alert"
                             ng-if="payForm.year.$error.required && payForm.year.$dirty">
                            Month is required.
                        </div>
                    </div>
                   
                </div>
                <input ng-model="paymentInfo.expirationDate" ng-value="formatDate()" hidden />
              


               
            </div>
            <!--End CC-->

        <!--E-Check info-->
            <div ng-if="paymentInfo.payType=='EC'">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label style="font-size:larger;text-decoration:underline">E-Check Information</label>
                        
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-3 control-label" trns>Name On Account</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                               ng-model="paymentInfo.ecAccountName"
                               name="ecAccountName"
                               ng-model-options="{ debounce: 500}"
                               required />

                        <div class="alert alert-danger" role="alert"
                             ng-if="payForm.ecAccountName.$error.required && payForm.ecAccountName.$dirty">
                           Account Name is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" trns>Bank Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                               ng-model="paymentInfo.bankName"
                               name="bankName"
                              ng-model-options="{ debounce: 500}"
                               required />

                        <div class="alert alert-danger" role="alert"
                             ng-if="payForm.bankName.$error.required && payForm.bankName.$dirty">
                            Bank Name is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" trns>Bank Account Type</label>
                    <div class="col-sm-4">
                        <select class="form-control"
                                ng-model="paymentInfo.bankAccountType"
                                
                                name="accountType" ng-model-options="{ debounce: 500 }"
                                required>
                            <option value=''>- Select Account Type -</option>
                            <option value="CHECKING">Checking</option>
                            <option value="BUSINESS CHECKING">Business Checking</option>
                            <option value="SAVINGS">Savings</option>
                        </select>

                        <div class="alert alert-danger" role="alert"
                             ng-if="payForm.accountType.$error.required && payForm.accountType.$dirty">
                            Account Type is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" trns>Bank's ABA Routing Number</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                               ng-model="paymentInfo.routingNumber"
                               name="routingnumber"
                               ng-model-options="{ debounce: 500}"
                               required />

                        <div class="alert alert-danger" role="alert"
                             ng-if="payForm.routingnumber.$error.required && payForm.routingnumber.$dirty">
                            Routing Number is required.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" trns>Bank Account Number</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"
                               ng-model="paymentInfo.accountNumber"
                               name="accountnumber"
                               ng-model-options="{ debounce: 500}"
                               required />

                        <div class="alert alert-danger" role="alert"
                             ng-if="payForm.accountnumber.$error.required && payForm.accountnumber.$dirty">
                            Bank Account Number is required.
                        </div>
                    </div>
                </div>
               
               


            </div><!--End EC-->
          
            <br />
            <div class="form-group">

                <div class="col-sm-8">



                </div>
                <div class="col-sm-offset-4">

                    <button type="submit" ng-click="submitInfo()" ng-disabled="submitting" class="btn admin-button" trns>SUBMIT</button>
                    <div ng-if="!hasLoaded"><img src="/Content/images/spiffygif_30x30.gif" style="text-align: center" ng-hide="submitting" /></div>
                    <!--<button type="submit" ng-click="test()" ng-disabled="submitting" class="btn admin-button" trns>test</button>-->

                </div>
            </div>
       
        <script type="text/javascript">
            function checkLength(f, l) {
                
                    //f is id of field and l is max lenght
                    var fieldval = document.getElementById(f).value;
                    var fieldLength = fieldval.length;


                    if (fieldLength <= l) {
                      
                        return true;
                    }
                    else {
                        var str = document.getElementById(f).value;
                        str = str.substring(0, str.length - 1);
                        document.getElementById(f).value = str;
                    }
                }
            </script>
</form>
