<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.1.0" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net452" />
  <package id="Exceptionless" version="4.0.1906" targetFramework="net452" />
  <package id="Exceptionless.Mvc" version="4.0.1906" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="3.0.20105.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
</packages>