<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AuthNetWebService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!--<section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />-->
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=web-kk;User Id=root;password=3l3phant11;Persist Security Info=True;database=mbc" providerName="MySql.Data.MySqlClient" />
    <!--<add name="DefaultConnection" connectionString="server=192.168.1.101;User Id=root;password=3l3phant2;Persist Security Info=True;database=mbc" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="MbcConn" connectionString="server=web-kk;User Id=root;password=3l3phant11;Persist Security Info=True;database=mbc" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="DefaultConnection" connectionString="server=192.168.1.101;User Id=root;password=3l3phant2;Persist Security Info=True;database=mbc" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!-- AuthNet Gateway-->
    <add key="GatewayTest" value="False" />
    <!--below is test-->
    <!--<add key="MbcApiLogin" value="4Q3Mjyg9A" />
    <add key="MbcTransactionKey" value="9qEqPGcK56y387kX" /-->
    <add key="KinderKraftApiLogin" value="8h9c5ZJJ9FS" />
    <add key="KinderKraftTransactionKey" value="3F76v236Lp7KgzX8" />
    <!-- below is live-->
    
    <add key="MbcApiLogin" value="8b58T2A5r2G"/>
    <add key="MbcTransactionKey" value="23D9bubUK9Wm822J"/>
    <add key="MeridianApiLogin" value="2ggwM7kM9t" />
    <add key="MeridianTransactionKey" value="56jHe7hj3EHzy38t" />
    <add key="MerchantHash" value="MERCHANT_HASH" />
    <!--<add key="AuthUrl" value="https://test.authorize.net/gateway/transact.dll" />-->
    <!--Test SITE URL-->
    <add key="AuthUrl" value="https://secure.authorize.net/gateway/transact.dll"/>
    <!-- here you define the way you want to be notified -->
    <!-- LogEvent = 1, FileLog = 2 e Email = 4. Use 0 when you don't want to be notified -->
    <add key="errorNotifier_NotifyMode" value="4" />
    <!-- Here you define the event source entry in your LogEvent, the default value is ASP.NET App Error -->
    <add key="errorNotifier_EventLogSource" value="Sample App error" />
    <!-- Here you define the full path where the file logging should occur -->
    <add key="errorNotifier_Filename" value="error.txt" />
    <!-- The email address that will receive the notifications -->
    <add key="errorNotifier_EmailTo" value="error@mydomain.com" />
    <!-- The email account that sends the emails -->
    <add key="errorNotifier_EmailFrom" value="errornotifier@mydomain.com" />
    <!-- The email subject -->
    <add key="errorNotifier_EmailSubject" value="Error in ASP.NET app" />
    <!-- The SmtpServer address. Just use if you don't want to use the local SmtpServer -->
    <add key="errorNotifier_EmailSmtpServer" value="mySmtpServerAddress" />
    <!-- EmailSettings For secureportal-->
    <add key="FromAddr" value="authnet@memorybook.com" />
    <add key="FromName" value="Memorybook Sales" />
    <add key="FromAddrmbc" value="authnet@memorybook.com" />
    <add key="FromNamembc" value="Memorybook Sales" />
    <add key="SmtpServer" value="192.168.1.245" />
    <add key="smtpuser" value="authnet" />
    <add key="smtppassword" value="authnet" />
    <add key="FromAddrmer" value="sales@meridianplanners.com" />
    <add key="FromNamemer" value="Meridian Planners" />
    <add key="FromAddrkk5" value="kinderkraftcs@jostens.com" />
    <add key="FromNamekk5" value="Jostens Kinderkraft" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Environment" value="DEV" />
  </appSettings>
  <exceptionless apiKey="hRiJoU3gVjik9CFejuJlNfA1dmz7NgJqVKLSgrhn" serverUrl="http://errors.woodalldevelopment.com"  enableSSL="false" />
  <!--<exceptionless apiKey="hY7UHoFGvaihQ3sXdEfdlRxYQTjAydSFGIVEBD7a" />-->
  <system.web>
    <!--<compilation debug="true" targetFramework="4.5.2" />-->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies>
        <!--<add assembly="MySql.Data, Version=6.4.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=6.4.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>-->
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="fingerprint">
          <match url="([\S]*)(v-[0-9]+/)([\S]+)" />
          <action type="Rewrite" url="{R:1}{R:3}" />
        </rule>
      </rules>
    </rewrite>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="ExceptionlessModule" type="Exceptionless.Mvc.ExceptionlessModule, Exceptionless.Mvc" />
      <!--<remove name="ExceptionlessModule" />-->
    </modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="AuthNetService.asmx" />
        <add value="index.html" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <AuthNetWebService.My.MySettings>
      <setting name="AuthNetWebService_payportal_Authorize_netSubmission" serializeAs="String">
        <value>https://www.securepaymentportal.com/AuthNetService.asmx</value>
      </setting>
      <setting name="AuthNetWebService_localhost_Authorize_netSubmission" serializeAs="String">
        <value>http://localhost:64665/AuthNetService.asmx</value>
      </setting>
    </AuthNetWebService.My.MySettings>
  </applicationSettings>
  <system.net>
    <!--<mailSettings>
      <smtp deliveryMethod="Network" from="Memorybook Sales &lt;randy@woodalldevelopment.com&gt;">
        <network host="smtpout.secureserver.net" userName="randy@woodalldevelopment.com" password="Briggitte1" />
      </smtp>
    </mailSettings>-->
    <mailSettings>
      <smtp deliveryMethod="Network" from="Memorybook Sales &lt;authnet@securepaymentportal.com&gt;">
        <network host="192.168.1.245"  userName="authnet@memorybook.com" password="authnet" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>