

<section id="forgotpassword-confirmation-section" class="row">
    <div class="forgot-password-confirmation col-sm-6 col-sm-offset-3">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</section>