

<section id="resetpassword-confirmation-section" class="row">
    <div class="reset-password-confirmation col-sm-6 col-sm-offset-3">
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Authentication", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</section>
